.container{
  display: grid;
  grid-template-rows: 80px auto 100px;
  grid-template-columns: auto 200px;
  grid-template-areas: 
  "box1 box1"
  "box2 box3"
  "box4 box4";
  /* grid-template:
    "box1 box1" 80px
    "box2 box3" auto
    "box4 box4" 100px /
    auto 200px; */
}
/* 一つにまとめたもの */

.header{
  grid-area: box1;
}
.main{
  grid-area: box2;
}
.sidebar{
  grid-area: box3;
}
.footer{
  grid-area: box4;
}