<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="sampleTitle1.css">
    <title>PoppuappuTitle</title>
    <!-- 画像のホップアップさせるための３つのlink/script/script/data-lightboxを読み込み -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" type="text/javascript"></script>
</head>
<body>
 <!-- <img src="images/image700.png" alt="">
 <img src="images/image1:700.png" alt=""> -->

 <!-- hrefからのimgクリックで拡大/デメリット別ウィンドに飛ぶため使いづらい -->
 <!-- <a href="images/image700.png" target="_blank">
    <img src="images/image700.png" width="300"border="0" alt="BBQ"> -->

    <!-- 画像のホップアップxボタンも付いて使いやすい -->
    <!-- groupグルーピングすることによって画像の横スライド可能にしている -->
<a href="images/image700.png" data-lightbox="group">
    <img src="images/image700.png" width="150" alt="BBQ">
 </a>
 
<a href="images/image1:700.png" data-lightbox="group">
   <img src="images/image1:700.png" width="150" alt="BBQ">
 </a>
 <!-- ポップアップの小さい画像はどうなるか検証原本300px -->
 <!-- 結果元々のサイズを合わせないと表示も拡大もおかしくなる -->
 <a href="images/image.png" data-lightbox="group">
    <img src="images/image.png" width="150" alt="BBQ">
</a>
</body>
</html>