
.container {
  display: grid;
  grid-template-rows: 80px auto 100px;
  grid-template-columns: auto 200px;
  grid-template-areas:
  　"box1 box1"
    "box2 box3"
    "box4 box4";
    /* row/column/両方に10px余白は入れる */
    /* gap:10px */

    /* 縦に20px/横に10pxの余白を入れる */
    row-gap: 20px;
    column-gap: 10px;

}
/* 上のを全てひとつにまとめたものになる */
  /* grid-template:
    "box1 box1" 80px
    "box2 box3" auto
    "box4 box4" 100px /
    auto   200px;
} */
.header {
    grid-area: box1;
  }
   
  .main {
    grid-area: box2;
  }
   
  .sidebar {
    grid-area: box3;
  }
   
  .footer {
    grid-area: box4;
  }