body {
    font-size: 2rem;
    /* width: 800px; */
    margin: 0 auto;
    min-height: 100vh;
    display: grid;
    grid-template: 
    "... ...... ....... ...... ...... ...... ..." 
    "... header header header header header ...." 150px
    ".... ...... ...... ...... ..... ....... ..." 
    "... left  ....... center ...... right ..." 1fr
    "... ...... ...... ...... ...... ...... ... " 
    "... footer footer footer footer footer ...." 300px
    "... ...... ...... ...... ...... ...... ...."
    / auto 200px auto minmax(300px, 1fr) auto 200px auto;
}
header { 
    grid-area: header;
    font-size: 100px;
    font-style: oblique;
    text-align: center;
}
header p {
    margin: 0;
    /* text-shadow: 0 0 0.2em rgb(3, 18, 32); */
    /* line-height:0.95em; */
    font-weight:bold;
    color: #FFF;
    text-shadow: 0 0 0.2em rgb(5, 1, 1);

}
main {
    grid-area: center;
}
main h1 {
    text-align: center;
    color: transparent;
    background: repeating-linear-gradient(0deg, #B67B03 0.1em, #DAAF08 0.2em, #FEE9A0 0.3em, #DAAF08 0.4em, #B67B03 0.5em); 
    -webkit-background-clip: text;
    /* 赤と青のしましま */
    /* font-weight:bold;
	color: transparent;
	background: repeating-linear-gradient( 45deg, #FF3D00 0 0.4em, #0091EA 0.4em 0.8em);
	-webkit-background-clip: text; */
}
nav {
    grid-area: left;
}
h1 {
    margin: 0;
}
ul {
    margin: 0%;
    padding: 0;
}
ul li {
    list-style: none;
    text-align: center;
}
p {
    margin: 0;
}

a[href="https://www.yahoo.co.jp"] { 
    font-size:28px;
}
a[href="https://www.google.co.jp"] {
    font-size: 25px;
}
aside {
    grid-area: right;
}
footer {
    grid-area: footer;
}
nav {
    text-align: center;
}

.open,
.close {
    display: none;
}
input[type="checkbox"] {
    /* ここでチェックボタンの管理🍔の所に隠している */
    /* tansformはサイズを大きくしている */
    /* left50top100で見える場所に移動させて動作確認 */
    position: absolute;
    left: -50vw;
    /* top: 100px; */
    /* transform: scale(6) */
} 
 
.img{
    /* Pixabay無料画像から引用 */
    background-image: url(https://cdn.pixabay.com/photo/2016/11/29/09/09/abstract-1868624_1280.jpg);
    background-size: contain;
}
main{
    /* Pixabay無料画像から引用 */
    background-image: url(https://cdn.pixabay.com/photo/2017/08/17/08/08/camp-2650359_1280.jpg);
    background-size: cover;
}
a{
    /* importGoogleFont */
    font-family: 'Goldman', cursive; 
}
.lorem{
    /* linkGoogleFont */
    font-family: 'Goldman', cursive;
font-family: 'Inconsolata', monospace;
}
/* 
@media screen and (max-width: 1000px) {
    body {
        grid-template:
        "header" 150px
        "center" 450px
        "left  "
        "right "
        "footer" 300px;
    }
    header p {
        text-align: center;
        font-size: 80px;
    }
ul {
    padding: 0;
}
ul li {
    list-style: none;
}


} */