body {
    margin:0;
    font-size:2rem;
    display:flex;
    min-height: 100vh;
}
main {
    width: 700px;
    margin: 0 auto;
    /* flex:1; */
}
aside {
    width: 25%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
}
ul {
    list-style:none;
    padding:0;
    margin:0;
}
div {
    height: 300px;
    margin-top: auto;
}
body{
    background-image: url(https://cdn.pixabay.com/photo/2016/11/29/09/09/abstract-1868624_1280.jpg);
    background-size: contain;
}