.container{
    display: grid;
    grid-template-rows: 80px auto 100px;
    grid-template-columns: auto 200px;
    grid-template-areas: 
    "header header"
    "main sidebar"
    "footer footer";
    /* grid-template:
      "box1 box1" 80px
      "box2 box3" auto
      "box4 box4" 100px /
      auto 200px; */
  }
  /* 一つにまとめたもの */
  
  .header{
    grid-area: header;
  }
  .main{
    grid-area: main;
  }
  .sidebar{
    grid-area: sidebar;
  }
  .footer{
    grid-area: footer;
  }
  
  /* レスポンシブデザイン */
  /* 画面の横幅が600pxよりも小さい時にグリッドを縦に並べることができる */
  @media screen and (max-width:600px){
      .container{
          grid-template-areas:
        "header"
        "main"
        "sidebar"
        "footer";
        grid-template-rows: 80px auto auto 200px;
        grid-template-columns: auto;
      }
  }