 /* レスポンシブデザイン */
  /* 画面の横幅が600pxよりも小さい時にグリッドを縦に並べることができる */
  
  @media screen and (max-width:600px){
      .container{
          grid-template-areas:
          "header"
          "main"
          "sidebar"
          "footer";
          grid-template-rows:300px 900px 300px;
          /* 150px 300px 120px 150px */
          /* 広がり１００％指定 */
          grid-template-columns: 100%;
      }
      h1{
        font-size: 60px;
    }
  }


