body{
    /* 検証しながら行うので画面サイズを一旦1100pxに調整 */
    width: 1100px;
    margin: 0;
}
.container{
    display: grid;
    /* mac画面幅ギリギリまで指定 */
    grid-template-rows: 140px 500px 150px　500px;
    grid-template-columns: auto 200px;
    grid-template-areas: 
    "header header"
    "main   sidebar"
    "footer footer";
}
.header{
    text-align: left;
    font-family: serif;
    font-size: xx-large;
    /* 海の家玄海参考 */
    background-color:rgb(160,216,239);
    height: 130px;
}
h1{
    font-size: 35px;
    color: white;
    font-family: cursive;
    font-weight: bolder;
}

.sea{
    position: relative;
}
.sea p {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    font-size: 70px;
    color: white;
    opacity: 0.6;
    font-family: cursive;
    font-weight: bolder;
}
img{
    width: 100%;
    height: 510px;
}
aside{
    margin-top: 1px;
}
nav{
    /* text大文字に */
    text-transform: uppercase;
}
ul{
    margin: 0;
    padding: 0;
    position: relative;
    font-weight: bold;
    font-family: cursive
    
}
li{
    /* button長崎の上のmargin調整 */
    margin-top: 4px;
}

ul li {
    /* listのhover時のエフェクト*/
    color:rgb(75, 195, 243);
    border-left: solid 6px rgb(160, 213, 239);
    background: #f1f8ff;
    margin-bottom: 6.2px;
    line-height: 1.8;
    padding: 0.5em;
    list-style-type: none;
    color: rgb(75, 195, 243);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
    background: -webkit-linear-gradient(180deg,                           #000000,
    rgb(160,216,239),
    rgb(160,216,239),
    #f1f8ff,
    #f1f8ff);
    background: -webkit-linear-gradient(right,                             #000000,
    rgb(160,216,239),
    rgb(160,216,239),
    #f1f8ff,
    #f1f8ff);
    background: linear-gradient(270deg,
    rgb(160,216,239),
    rgb(160,216,239),
    #f1f8ff,
    #f1f8ff);
    background-position: 1% 50%;
    background-size: 300% 300%;
}
ul li:hover {

    background-position: 99% 50%;
    color: #ffffff;
    cursor: pointer;
}
a{
    text-decoration: none;
    color:rgb(75, 195, 243);
}
footer{
    text-align: center;
    background:#f1f8ff
}
div .insta{
    /* 横幅を合わせている */
    display: inline-flex;
    width: -webkit-fill-available;
}
.header{
    grid-area: header;
}
.main{
    grid-area: main;
}
.sidebar{
    grid-area: sidebar;
}
.footer{
    grid-area: footer;
}
